# Archivos generados temporalmente o imágenes
*.png
*.jpg
*.jpeg
*.bmp
*.gif

# Exportaciones autogeneradas por el usuario
Coordenadas.md
*.md
!README.md
!task.md

# Archivos temporales de sistema 
*.zip
*.rar
.ps1_xml
